<div class="bg-danger mb-2  sticky-top" style="height: 75px;">
  <h3 class="text-left p-3 font-weight-bolder text-white">
    News API
  </h3>
</div>
<div class="container">
  <div class="bg-danger text-decoration-none sticky-top p-2 mb-3 ">
    <nav mat-tab-nav-bar class="nav nav-fill">
      <a
        mat-tab-link
        *ngFor="let link of navLinks"
        class="nav-item nav-link text-white text-decoration-none font-weight-normal"
        [routerLink]="link.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        <h4>{{ link.label }}</h4>
      </a>
    </nav>
    <!-- <nav class="nav nav-fill">
      <a
        class="nav-item nav-link text-white text-decoration-none font-weight-normal "
        routerLink="/Apple"
        data-toggle="tab"
        ><h4>Apple</h4></a
      >
      <a
        class="nav-item nav-link text-white text-decoration-none font-weight-normal"
        routerLink="/Bitcoin"
        data-toggle="tab"
        ><h4>Bitcoin</h4></a
      >
      <a
        class="nav-item nav-link text-white text-decoration-none font-weight-normal"
        routerLink="/US Headlines"
        ><h4>US Headlines</h4></a
      >
      <a
        class="nav-item nav-link text-white text-decoration-none font-weight-normal"
        routerLink="/Tech Crunch"
        ><h4>Tech Crunch</h4></a
      >
      <a
        class="nav-item nav-link text-white text-decoration-none font-weight-normal"
        routerLink="/Wall Street Journal"
        ><h4>Wall Street Journal</h4></a
      >
    </nav> -->
  </div>
  <div class="row">
    <div class="col-lg-12 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
